* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 30px;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: lightgoldenrodyellow;
}

h1 {
  margin-bottom: 5%;
}

.right {
  background-color: lightseagreen;
  width: 45%;
  display: flex;
  flex: 1;
  padding-bottom: 25px;
}

.again {
  margin-bottom: 3%;
}

.left {
  right: 45%;
  margin-bottom: 5%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.left input {
  border: 3px solid black;
  background-color: lightseagreen;
  padding: 10px;
  width: 13rem;
  height: 5rem;
  margin-bottom: 5%;
  font-size: 60px;
}

button {
  padding-block: 2% 2%;
  padding-inline: 2% 2%;
  border-radius: 10px;
  background-color: lightsalmon;
  border: 1px;
  font-weight: 700;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}

button:hover {
  font-weight: 400;
  border-radius: 10px;
  border: 1px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.number {
  /* cursor: pointer; */
  background-color: lightcyan;
  width: 45%;
  text-align: center;
  padding: 2%;
  border: 8px solid black;
  font-size: 50px;
}
