* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 30px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
}

h1 {
  margin-bottom: 5%;
}

main {
  margin-bottom: 5%;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  /* border: none; */
  /* background: none; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: bisque;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 5rem 8rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.8);
  /* padding: 6rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  z-index: 5;
}

.hidden {
  display: none;
}

.right {
  background-color: lightseagreen;
  width: 45%;
  display: flex;
  flex: 1;
  padding-bottom: 25px;
  /* text-align: center; */
  margin-bottom: 10%;
}

.again {
  margin-bottom: 3%;
}

.left {
  right: 45%;
  margin-bottom: 5%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.left input {
  border: 3px solid black;
  background-color: lightseagreen;
  padding: 10px;
  width: 13rem;
  height: 5rem;
  margin-bottom: 5%;
  font-size: 60px;
}

button {
  padding-block: 2% 2%;
  padding-inline: 2% 2%;
  border-radius: 10px;
  background-color: lightsalmon;
  border: 1px;
  font-weight: 700;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}

button:hover {
  font-weight: 400;
  border-radius: 10px;
  border: 1px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.number {
  /* cursor: pointer; */
  background-color: lightcyan;
  width: 45%;
  text-align: center;
  padding: 2%;
  border: 8px solid black;
  font-size: 50px;
}

.bottom {
  margin-bottom: 10%;
}
